.search{
  display: none;
}

.top-buffer {
  margin-top:10px !important;
  margin-bottom: 10px !important;

}

.padding{
  padding-right: 5% !important;
  padding-left: 5% !important;
  padding-top: 20px;
}

body{
  padding-top: 60px;
}

.searchbutton{
  padding-right: 5% !important;
  padding-left: 5% !important;
  padding-top: 10px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .mobile{
    display: none !important;
  }

  .search{
    display: inline;
  }

  .searchbar{
    width: 130% !important;
  }

  .searchbutton{
    width: 100% !important;
  }

  .padding{
    padding-right: 5% !important;
    padding-left: 5% !important;
    padding-top: 20px;
  }

}
